@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  text-align: center;
  width: 100%;
}

#excuse {
  text-align: center;
}
